<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book info</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: #d3d3d3;
        }

        .row {
            margin-top: 10px;
        }

        .comments, .comments td {
            border: 1px solid lightgray;
            padding: 5px;
        }
    </style>
</head>
<body>
<a href="/bookList">Return to book list</a>
<form id="book-form" th:action="@{/editBook/__${book.id}__}" th:method="post" action="book.html">
    <h1>Book Info:</h1>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="${book.id}" value="1"/>
    </div>

    <div class="row">
        <label for="name-input">Name:</label>
        <input id="name-input" name="name" type="text" th:value="${book.name}" value="Мастер и Маргарита"/>
    </div>

    <div class="row">
        <label for="author-input">Author:</label>
        <select id="author-input" th:field="${book.author.id}">
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}">Пушкин</option>
        </select>
    </div>

    <div class="row">
        <label for="genre-input">Genre:</label>
        <select id="genre-input" th:field="${book.genre.id}">
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}">Фантастика</option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Save</button>
    </div>

</form>
<form id="delete-book-form" th:action="@{/deleteBook/__${book.id}__}" th:method="post" action="book.html">
    <div class="row">
        <button type="submit">Delete</button>
    </div>
</form>

<h1>Comments:</h1>
<table class="comments">
    <thead>
    <tr>
        <th>ID</th>
        <th>Commnet</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="comment : ${comments}">
        <td th:text="${comment.id}">1</td>
        <td th:text="${comment.comment}">Ololo</td>
        <td>
            <a th:href="@{/deleteComment/__${comment.id}__}" href="book.html">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

<form id="comments-form" th:action="@{/addComment/__${book.id}__}" th:method="post" action="book.html">
    <div class="row">
        <label for="comment-input">New comment:</label>
        <input id="comment-input" th:field="${newcomment.comment}" value="comment"/>
    </div>

    <div class="row">
        <button type="submit">Add comment</button>
    </div>
</form>

</body>
</html>